################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IRC-Chat Github/v16/Browse.VC.db
